.App {
  text-align: center;
}

.center {
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.note-list {
  flex: 1;
  border-right: 1px solid;
  height: 500px;
}

.note {
  flex: 5
}
